@model Selling.ViewModel.tblOfficerViewModel


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "idFormOfficer" }))
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.OfficerCode, new { @class = "control-label" })
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.OfficerCode, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.OfficerName, new { @class = "control-label" })
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.OfficerName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.OfficerPassword, new { @class = "control-label" })
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.OfficerPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.OfficerStatus, new { @class = "control-label" })
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.OfficerStatus, new { @class = "form-control" })
            </div>
        </div>
    </div>

}