@model Selling.ViewModel.tblItemViewModel


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "idFormItem" }))
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.ItemCode, new { @class = "control-label" })
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.ItemCode, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.ItemName, new { @class = "control-label" })
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.ItemName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.BuyingPrice, new { @class = "control-label" })
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.BuyingPrice, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.SellingPrice, new { @class = "control-label" })
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.SellingPrice, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.ItemAmount, new { @class = "control-label" })
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.ItemAmount, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Pieces, new { @class = "control-label" })
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Pieces, new { @class = "form-control" })
            </div>
        </div>
    </div>

}