@model IEnumerable<Selling.ViewModel.tblSellingViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="Selling">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tblSellingID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Return)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficerCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tblSellingID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Return)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficerCode)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Invoice }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Invoice }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Invoice })
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#Selling').dataTable();
    });
</script>